@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;0,500;0,700;1,600&display=swap");

:root {
  --body-bg-color: #451a03;

  --container-bg-color: #fff;

  --circle-bg-color: #f59e0b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Playfair", serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--body-bg-color);

  position: relative;
}

/* General */
.container {
  transform-origin: top left;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--container-bg-color);
  transition: transform 0.3s ease;
  padding: 5rem;
  background-image: linear-gradient(#fffbeb, #ffedd5);
}

.container.show-nav {
  transform: rotate(-20deg);
}

/* Circle top lef */

.circle-container {
  position: fixed;
  top: -10rem;
  left: -10rem;
  z-index: 4;
}

.circle {
  width: 20rem;
  height: 20rem;
  /* background-color: var(--circle-bg-color); */
  background: linear-gradient(45deg, #f59e0b, #d97706);
  position: relative;
  border-radius: 50%;
}

.btn-open,
.btn-close {
  position: absolute;
  font-size: 4.8rem;
  height: 10rem;

  top: 50%;
  left: 60%;
  border: none;
  background: transparent;
  color: #fffbeb;
  cursor: pointer;
}

.btn-open {
  transform-origin: top left;
  transform: rotate(0);
}

.btn-close {
  transform-origin: top left;
  transform: rotate(90deg);
}

/* Content */
.content {
  max-width: 100rem;
  margin: 4.8rem auto;
}

.heading {
  font-size: 5.6rem;
  font-weight: 700;
  color: #451a03;
}

.author {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #92400e;
}

.heading-text {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.imgs-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #451a03;
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

/* Expanding-Cards */
.imgs-container {
  display: flex;
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0.5;
  border-radius: 5px;
  margin-right: 0.7rem;
  cursor: pointer;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  transition: flex 0.5s ease;
}

.img.active {
  flex: 5;
}

#img1 {
  background-image: url("imgs/img-01.jpg");
}

#img2 {
  background-image: url("imgs/img-02.jpg");
}

#img3 {
  background-image: url("imgs/img-03.jpg");
}

#img4 {
  background-image: url("imgs/img-04.jpg");
}

#img5 {
  background-image: url("imgs/img-05.jpg");
}

/* Progression */
.progress-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.progress-container {
  position: relative;
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-container::before {
  content: "";
  position: absolute;
  background-color: #e0e0e0;
  width: 100%;
  height: 0.6rem;
  z-index: 1;
  transform: translateY(40%);
}

.progress-bar {
  position: absolute;
  background-color: #d97706;
  width: 0%;
  height: 0.5rem;
  top: 50%;
  left: 0.5px;
  z-index: 2;
}

.progress-circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fffbeb;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  z-index: 3;
}

.progres-text {
  font-size: 1.6rem;
  /* color: #555; */

  /* active */
  color: #451a03;
}

.container-progress-btn {
  display: flex;
  gap: 2.4rem;
}

.btn-next,
.btn-prev {
  font-size: 2.4rem;
  border: none;

  background: transparent;
  background-color: #fffbeb;
  color: #451a03;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.btn-next:hover,
.btn-prev:hover {
  border: 3px solid #d97706;
}

.main-text {
  margin-top: 2.4rem;
  font-size: 2rem;
}

/* Navigator */

.section-navigator {
  position: absolute;

  bottom: 15rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  transform: translateX(-200%);
  transition: transform 0.4s ease-in;
  z-index: 4;
}

.section-navigator.show-nav {
  /* Show-nav */
  transform: translate(0);
}

.nav-icon {
  font-size: 4.8rem;
  color: #fffbeb;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#list2 {
  margin-left: 2rem;
}

#list3 {
  margin-left: 4rem;
}

.li-text {
  font-size: 3.6rem;
  color: #fffbeb;
  margin-left: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.search-container {
  display: flex;
  gap: 0;
}

.search-bar {
  width: 0%;
  height: 3rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  transition: width 0.3s ease;
  background-color: #fffbeb;
  /* color: #92400e; */
}

.search-bar:focus {
  outline: none;
}

.search-bar.active {
  width: 100%;
}

.btn-search {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  cursor: pointer;

  background: transparent;
  border: none;

  /* None-active */
  color: #451a03;
  transform: translateX(-85%);
  z-index: 2;
  transition: transform 0.3s ease;
}

.btn-search.active {
  /* active */
  transform: translateX(0);
  color: #fffbeb;
}

/* section register */

.register-container {
  width: 100%;
  height: 100%;
  background-color: rgba(120, 53, 15, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 3rem;
  border-radius: 5px;

  background: linear-gradient(to bottom right, #fffbeb, #fef3c7);
}

.form-container h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: inherit;
  color: #451a03;
  margin: 2rem 0 3rem 0;
}

.form-container label {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family: inherit;
  color: #92400e;
  margin-bottom: 0.5rem;
}

.form-container input {
  font-size: 2rem;

  height: 3rem;
  margin-bottom: 3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(69, 26, 3, 0.7);
  padding: 1rem;
}

.form-container input:focus {
  outline: none;
}

.form-container input::placeholder {
  color: #808080;
}

.form-container #rate {
  justify-self: center;
  align-self: center;
  border: none;
  display: inline;
  width: 20%;
  text-align: center;
}

.form-container textarea {
  height: 10rem;
  font-size: 2rem;
  margin-bottom: 1.6rem;
  background: transparent;
  border: 1px solid rgba(69, 26, 3, 0.7);
  border-radius: 5px;
  padding: 1rem;
}

.form-container textarea:focus {
  outline: none;
}

.regis-submit-btn {
  display: inline;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  width: 50%;
  justify-self: center;
  align-self: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #f59e0b, #d97706);
  color: #ffedd5;
  cursor: pointer;
  transition: scale 0.4s ease;
}

.regis-submit-btn:hover {
  scale: 0.98;
}

.regis-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 4.8rem;
  top: -2.5rem;
  right: -2rem;
  /* background: transparent; */
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: none;
  background: linear-gradient(45deg, #f59e0b, #d97706);
  color: #ffedd5;
  cursor: pointer;
  z-index: 5;
}

.regis-close-btn:hover {
  background: #ffedd5;
  color: #451a03;
  border: 1px solid #451a03;
}

/* section-footer */
.section-footer {
  width: 100%;
  height: 100%;
  background-color: rgba(120, 53, 15, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 42.5rem;
  height: 30%;
  width: 50%;
  /* background: #fff; */
  background: linear-gradient(45deg, #f59e0b, #d97706);
  padding: 2rem;
  border-radius: 5px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 1.2rem;
}

.footer-btn {
  font-size: 8rem;
  text-decoration: none;
  color: #ffedd5;
  /* width: 9rem;
  height: 9rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  cursor: default;
}

.contacts-icon {
  cursor: pointer;
}

.contact-text {
  display: none;
  font-size: 1.6rem;
  color: #fef3c7;
}

#email {
  justify-self: center;
}

#instagram {
  justify-self: center;
}

#facebook {
  justify-self: center;
}

#github {
  justify-self: end;
}

#youtube {
  justify-self: end;
}

.footer-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 4.8rem;
  top: -2.5rem;
  right: -2rem;
  /* background: transparent; */
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: none;
  background: linear-gradient(to bottom right, #fffbeb, #fef3c7);
  color: #451a03;
  cursor: pointer;
  z-index: 5;
}

.footer-close-btn:hover {
  background: linear-gradient(45deg, #f59e0b, #d97706);
  color: #ffedd5;
  border: 1px solid #451a03;
}

/* section-hall of flame */

.section-hall-of-flame {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom right, #f59e0b, #d97706);
  height: 100%;
  width: 15%;
  padding: 3rem;
  /* border: 1px solid #78350f; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  /* normal */
  transform: translateX(25rem);
}

.section-hall-of-flame.active {
  transform: translateX(0);
}

.card-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #fffbeb, #fef3c7);

  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.card-header {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: #fef3c7;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.card-container ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.card-container ul li {
  font-size: 2.2rem;
  color: #451a03;
}

.card-description {
  font-size: 2.2rem;
  color: #451a03;
}

.card-text {
  font-size: 1.4rem;
  margin-left: 0.3rem;
}

.hall-of-flame-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, #78350f, #451a03);
  color: #ffedd5;
  cursor: pointer;
  position: fixed;
  right: 13.6%;
  top: 50%;

  /* normal */
  transform: translateX(-19.7rem);
}
