@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;0,500;0,700;1,600&display=swap");

:root {
  --amber-color1: #fffbeb;
  --amber-color2: #fef3c7;
  --amber-color3: #fde68a;
  --amber-color4: #fcd34d;
  --amber-color5: #fbbf24;
  --amber-color6: #f59e0b;
  --amber-color7: #d97706;
  --amber-color8: #b45309;
  --amber-color9: #92400e;
  --amber-color10: #78350f;
  --amber-color11: #451a03;
  --white-color: #fff;
  --grey-color: #bcbcbc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Playfair", serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--amber-color11);

  overflow-x: hidden;
  overflow-y: visible;

  position: relative;
}

/* ///////////////////////////////////////////////////////////////////*/
/* General */
.container {
  transform-origin: top left;
  min-height: 100vh;
  /* height: 130rem; */
  height: 100%;
  width: 100vw;

  transition: transform 0.3s ease;
  padding: 5rem;
  background-image: linear-gradient(#fffbeb, #ffedd5);
}

.container.show-nav {
  transform: rotate(-20deg);
}

/* ///////////////////////////////////////////////////////////////////*/
/* Circle top lef */

.circle-container {
  position: fixed;
  top: -10rem;
  left: -10rem;
  z-index: 5;
}

.circle {
  width: 20rem;
  height: 20rem;
  background: linear-gradient(45deg, #f59e0b, #d97706);
  position: relative;
  border-radius: 50%;
}

.btn-open,
.btn-close {
  position: absolute;
  font-size: 4.8rem;
  height: 10rem;

  top: 50%;
  left: 60%;
  border: none;
  background: transparent;
  color: var(--amber-color1);
  cursor: pointer;
}

.btn-open {
  transform-origin: top left;
  transform: rotate(0);
}

.btn-close {
  transform-origin: top left;
  transform: rotate(90deg);
}

/* ///////////////////////////////////////////////////////////////////*/
/* Content */
.content {
  max-width: 100rem;
  margin: 4.8rem auto;
  /* height: 110rem; */
  height: 100%;
}

.heading {
  font-size: 5.6rem;
  font-weight: 700;
  color: var(--amber-color11);
  text-align: center;
}

.sub-heading {
  position: relative;
  font-style: italic;
  color: var(--amber-color8);
  z-index: 2;
  margin: 0 1rem;
}

.sub-heading::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f59e0b, #d97706);
  transform: scale(1.05, 1.04) skew(-15deg);
  z-index: 1;
  opacity: 0.3;
}

.heading-text {
  font-size: 1.9rem;
  margin-bottom: 2.4rem;
  padding: 2rem;
  text-indent: 5%;
}

.imgs-heading {
  font-size: 3rem;
  font-weight: 600;
  color: var(--amber-color11);
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

/* ///////////////////////////////////////////////////////////////////*/
/* Expanding-Cards */
.imgs-container {
  display: flex;
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0.5;
  border-radius: 5px;
  margin-right: 0.7rem;
  cursor: pointer;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  transition: flex 0.5s ease;
}

.img.active {
  flex: 5;
}

#img1 {
  background-image: url("imgs/img-01.jpg");
}

#img2 {
  background-image: url("imgs/img-02.jpg");
}

#img3 {
  background-image: url("imgs/img-03.jpg");
}

#img4 {
  background-image: url("imgs/img-04.jpg");
}

#img5 {
  background-image: url("imgs/img-05.jpg");
}

/* ///////////////////////////////////////////////////////////////////*/
/* Progression */
.progress-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.progress-container {
  position: relative;
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-container::before {
  content: "";
  position: absolute;
  background-color: var(--grey-color);
  width: 100%;
  height: 0.6rem;
  z-index: 1;
  transform: translateY(40%);
}

.progress-bar {
  position: absolute;
  background-color: var(--amber-color7);
  width: 0%;
  height: 0.5rem;
  top: 50%;
  left: 0.5px;
  z-index: 2;
}

.progress-circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--amber-color1);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--grey-color);
  z-index: 3;
}

.progres-text {
  font-size: 1.6rem;

  /* active */
  color: var(--amber-color11);
}

.container-progress-btn {
  display: flex;
  gap: 2.4rem;
}

.btn-next,
.btn-prev {
  font-size: 2.4rem;
  border: none;

  background: transparent;
  background-color: var(--amber-color1);
  color: var(--amber-color11);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
}

.btn-next:hover,
.btn-prev:hover {
  border: 3px solid var(--amber-color7);
}

.main-text {
  margin-top: 2.4rem;
  font-size: 1.9rem;
  line-height: 2.5rem;
  display: none;
  padding: 2rem;
  transform: translateX(200%);
  transition: all 0.4s ease-in;
}

.main-text.active {
  display: block;
  transform: translateX(0);
  transition: all 0.4s ease-out;
}
#main-text-0 {
  text-align: center;
}

.main-text-header {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
}

.main-text-sub-header {
  font-size: 2.2rem;
  font-weight: 500;
  font-style: italic;
  margin-right: 0.2rem;
}

/* ///////////////////////////////////////////////////////////////////*/
/* Navigator */

.section-navigator {
  position: absolute;

  bottom: 15rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  transform: translateX(-200%);
  transition: transform 0.4s ease-in;
  z-index: 5;
}

.section-navigator.show-nav {
  /* Show-nav */
  transform: translate(0);
}

.nav-icon {
  font-size: 4.8rem;
  color: var(--amber-color1);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#list2 {
  margin-left: 2rem;
}

#list3 {
  margin-left: 4rem;
}

.li-text {
  font-size: 3.6rem;
  color: var(--amber-color1);
  margin-left: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.search-container {
  display: flex;
  gap: 0;
}

.search-bar {
  width: 0%;
  height: 3rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  transition: width 0.3s ease;
  background-color: var(--amber-color1);
}

.search-bar:focus {
  outline: none;
}

.search-bar.active {
  width: 100%;
}

.btn-search {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  cursor: pointer;

  background: transparent;
  border: none;

  /* None-active */
  color: var(--amber-color11);
  transform: translateX(-85%);
  z-index: 2;
  transition: transform 0.3s ease;
}

.btn-search.active {
  /* active */
  transform: translateX(0);
  color: var(--amber-color1);
}

/* ///////////////////////////////////////////////////////////////////*/
/* section register */

.register-container {
  width: 100%;
  height: 100%;
  background-color: rgba(120, 53, 15, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.form-container {
  position: absolute;

  top: 50%;
  left: 50%;
  max-height: 75%;
  transform: translate(-50%, -50%);
  display: flex;

  flex-direction: column;
  padding: 2.5rem 3rem;
  border-radius: 5px;

  background: linear-gradient(to bottom right, #fffbeb, #fef3c7);
}

.form-container h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: inherit;
  color: var(--amber-color11);
  margin: 2rem 0 4rem 0;
  background: linear-gradient(to bottom right, #f59e0b, #d97706);
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem 2rem;
}

.form-container label {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family: inherit;
  color: var(--amber-color9);
  margin-bottom: 0.5rem;
}

.form-container input {
  font-size: 2rem;

  height: 3rem;
  margin-bottom: 3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(69, 26, 3, 0.7);
  padding: 1rem;
}

.form-container input:focus {
  outline: none;
}

.form-container input::placeholder {
  color: var(--grey-color);
}

.form-container #rate {
  justify-self: center;
  align-self: center;
  border: none;
  display: inline;
  width: 40%;
  text-align: center;
}

.form-container textarea {
  height: 10rem;
  font-size: 2rem;
  margin-bottom: 1.6rem;
  background: transparent;
  border: 1px solid rgba(69, 26, 3, 0.7);
  border-radius: 5px;
  padding: 1rem;
}

.form-container textarea::placeholder {
  color: var(--grey-color);
}

.form-container textarea:focus {
  outline: none;
}

.regis-submit-btn {
  display: inline;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.2rem 3rem;
  width: 50%;
  justify-self: center;
  align-self: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #f59e0b, #d97706);
  color: var(--amber-color2);
  cursor: pointer;
  transition: scale 0.4s ease;
}

.regis-submit-btn:hover {
  scale: 0.98;
}

.regis-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 4.8rem;
  top: -2.5rem;
  right: -2rem;
  /* background: transparent; */
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: none;
  background: linear-gradient(45deg, #f59e0b, #d97706);
  color: var(--amber-color2);
  cursor: pointer;
  z-index: 5;
}

.regis-close-btn:hover {
  background: var(--amber-color2);
  color: var(--amber-color11);
  border: 1px solid var(--amber-color11);
}

/* ///////////////////////////////////////////////////////////////////*/
/* section-footer */
.section-footer {
  width: 100%;
  height: 100%;
  background-color: rgba(120, 53, 15, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
}

.footer-container {
  position: fixed;
  bottom: 0;
  /* left: 42.5rem; */
  left: 30.5%;
  height: 30%;
  width: 50%;

  background: linear-gradient(45deg, #f59e0b, #d97706);
  padding: 2rem;
  border-radius: 5px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 1.2rem;
}

.footer-btn {
  font-size: 8rem;
  text-decoration: none;
  color: var(--amber-color2);
  /* width: 9rem;
  height: 9rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  cursor: default;
}

.contacts-icon {
  cursor: pointer;
}

.contact-text {
  display: none;
  font-size: 1.6rem;
  color: var(--amber-color3);
}

#email {
  justify-self: center;
}

#instagram {
  justify-self: center;
}

#facebook {
  justify-self: center;
}

#github {
  justify-self: end;
}

#youtube {
  justify-self: end;
}

.footer-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 4.8rem;
  top: -2.5rem;
  right: -2rem;
  /* background: transparent; */
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: none;
  background: linear-gradient(to bottom right, #fffbeb, #fef3c7);
  color: var(--amber-color11);
  cursor: pointer;
  z-index: 5;
}

.footer-close-btn:hover {
  background: linear-gradient(45deg, #f59e0b, #d97706);
  color: var(--amber-color2);
  border: 1px solid var(--amber-color11);
}

/* ///////////////////////////////////////////////////////////////////*/
/* section-hall of flame */

.section-hall-of-flame {
  position: fixed;
  top: 0;
  right: -15%;
  background: linear-gradient(to bottom right, #f59e0b, #d97706);
  height: 100%;
  width: 15%;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  transition: all 0.4s ease;
}

.section-hall-of-flame.active {
  transition: all 0.4s ease;
  right: 0;
}

.card-container {
  display: flex;
  flex-direction: column;

  background: linear-gradient(45deg, #fffbeb, #fef3c7);
  width: 100%;

  align-items: center;
  border: 1px solid var(--amber-color3);
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.card-header {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: var(--amber-color2);

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.card-header-text {
  font-size: 1.8rem;
}

.card-header-emoji {
  font-size: 3rem;
}

.show-infos-btn,
.hide-infos-btn {
  font: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 1.7rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #fbbf24, #f59e0b);
  color: var(--amber-color11);
}

.show-infos-btn:hover,
.hide-infos-btn:hover {
  background: linear-gradient(45deg, #fef3c7, #fde68a);
}

.card-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.card-container ul li {
  display: flex;

  align-items: center;
  font-size: 2.2rem;
  color: var(--amber-color11);
}

.card-description {
  font-size: 2.2rem;
  color: var(--amber-color11);
}

.card-text {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.hall-of-flame-btn {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, #78350f, #451a03);
  color: var(--amber-color2);
  cursor: pointer;
  /* position: fixed;
  right: -15%; */
  position: absolute;
  left: -2rem;

  /* right: 13.6%; */
  top: 20%;
}

#card-insert {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  overflow-y: overlay;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: var(--amber-color3);
}

.copy-right {
  font-size: 2.5rem;
}

/* ///////////////////////////////////////////////////////////////////*/
/* Responsive design */

@media (max-width: 1533px) {
  .section-hall-of-flame {
    width: 13%;
    right: -13%;
  }
  .card-header {
    width: 100%;
  }

  .card-header-text {
    visibility: hidden;
  }
  .card-header-text::after {
    content: "🏛️ Sign up!";
    display: block;
    visibility: visible;
    position: absolute;
    top: 10%;
    transform: translate(5%, -50%);
  }

  .card-container ul {
    flex-direction: column;
  }

  .author {
    font-size: 1.3rem;
  }

  .copy-right {
    font-size: 2rem;
  }

  #btns-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
  }

  #btns-details-container button {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  .heading {
    font-size: 5.3rem;
  }

  .circle-container {
    top: -8rem;
    left: -8rem;
  }

  .circle {
    width: 16rem;
    height: 16rem;
  }

  .btn-open,
  .btn-close {
    top: 45%;
  }

  .img {
    height: 45vh;
  }
  .card-header {
    box-shadow: none;
    width: 50%;
  }

  .section-hall-of-flame.active {
    width: 100%;
    right: 0;
    z-index: 5;
    background: none;
    background-color: rgba(120, 53, 15, 0.8);
  }

  .card-header-text {
    visibility: visible;
  }
  .card-header-text::after {
    content: "";
  }

  .card-container {
    width: 50%;
    align-self: center;
  }

  .card-header-text {
    font-size: 3.2rem;
  }

  .card-container ul li {
    font-size: 5rem;
    color: var(--amber-color11);
  }

  .card-text {
    font-size: 2.5rem;
    margin-left: 3rem;
  }

  .hall-of-flame-btn {
    background: linear-gradient(
      45deg,
      var(--amber-color6),
      var(--amber-color7)
    );
    color: var(--amber-color11);
  }

  .author {
    font-size: 2rem;
  }

  .copy-right {
    font-size: 2.3rem;
  }

  #btns-details-container {
    display: flex;

    justify-content: center;
    gap: 1.2rem;
    margin-top: 1rem;
  }

  #btns-details-container button {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .heading {
    font-size: 4.8rem;
  }

  .nav-icon {
    font-size: 3.6rem;
  }
  .li-text {
    font-size: 3.2rem;
  }

  .footer-container {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(0%, 50%);
  }

  .card-container {
    width: 60%;
    align-self: center;
  }

  .contact-text {
    font-size: 1.4rem;
  }

  #btns-details-container button {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 3.6rem;
  }

  .heading-text {
    font-size: 1.6rem;
  }

  .main-text-header {
    font-size: 2.2rem;
  }

  .main-text {
    font-size: 1.6rem;
  }

  .main-text-sub-header {
    font-size: 2rem;
  }

  .img {
    height: 35vh;
  }

  .card-header-text {
    font-size: 2.8rem;
  }

  .card-container ul li {
    font-size: 4rem;
    color: var(--amber-color11);
  }

  .card-text {
    font-size: 2rem;
    margin-left: 2rem;
  }

  .author {
    font-size: 1.7rem;
  }

  .copy-right {
    font-size: 2rem;
  }

  .form-container {
    padding: 2rem 2.5rem;
    width: 70%;
  }

  .form-container h1 {
    font-size: 3.6rem;
  }

  .form-container label {
    font-size: 2.5rem;
  }

  .form-container input {
    font-size: 1.6rem;
  }

  .form-container textarea {
    font-size: 1.6rem;
  }

  .contact-text {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  /* .container {
    height: 140rem;
    height: 100%;
  }
  .content {
    height: 140rem;
  } */

  .circle-container {
    top: -6rem;
    left: -6rem;
  }

  .circle {
    width: 12rem;
    height: 12rem;
  }

  .btn-open,
  .btn-close {
    font-size: 4rem;
    top: 32%;
  }

  .heading {
    font-size: 3rem;
  }

  .heading-text {
    font-size: 1.8rem;
  }

  .main-text-header {
    font-size: 2.4 rem;
  }

  .main-text {
    font-size: 1.8rem;
  }

  .main-text-sub-header {
    font-size: 2rem;
  }

  .form-container h1 {
    font-size: 2.5rem;
  }

  .form-container label {
    font-size: 2rem;
  }

  .form-container input {
    font-size: 1.2rem;
  }

  .form-container textarea {
    font-size: 1.2rem;
  }

  .regis-submit-btn {
    font-size: 1.6rem;
    width: 60%;
  }

  .img {
    height: 28vh;
  }

  .progress-container {
    display: none;
  }

  .footer-container {
    width: 60%;
    left: 23.5%;
  }

  .card-header {
    width: 60%;
  }

  .contact-text {
    font-size: 0.8rem;
  }

  .card-container {
    width: 70%;
    align-self: center;
  }

  #btns-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
  }

  #btns-details-container button {
    width: 50%;
  }
}

@media (max-width: 440px) {
  .sub-heading::after {
    transform: scale(1.01, 1.01) skew(-15deg);
  }

  .heading-text {
    font-size: 1.4rem;
    margin: 2rem 0;
    padding: 2rem 0;
    text-indent: 10%;
  }

  .img {
    height: 23vh;
  }

  .main-text {
    margin-top: 2rem;
    font-size: 1.4rem;

    padding: 2rem 0;
  }

  .main-text-header {
    font-size: 2 rem;
  }

  .main-text-sub-header {
    font-size: 1.8rem;
  }

  .form-container h1 {
    font-size: 1.8rem;
  }

  .form-container label {
    font-size: 1.6rem;
  }

  .form-container input {
    font-size: 0.8rem;
  }

  .form-container textarea {
    font-size: 0.8rem;
  }

  .regis-submit-btn {
    font-size: 1rem;
    width: 60%;
  }

  .section-hall-of-flame {
    right: -16.5%;
  }

  .regis-submit-btn {
    font-size: 1.6rem;
    width: 90%;
  }

  .card-header-text {
    font-size: 2rem;
  }

  .card-container {
    width: 80%;
    align-self: center;
  }
}
